body{
	font-family: sans-serif;

	background-color: #7db9e8;
}

h1, h2, h3, h4, p{
	font-family: 'Courgette', cursive;
}

h1{
	font-size: 28px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.button {
	display: inline-block;
	cursor: pointer;
	margin: 5px;
	padding: 10px 15px;
	font-family: 'Courgette', cursive;
	font-size: 20px;
	text-align: center;
	border:1px solid #000000;
	border-radius: 25px;
	background-color: #d79b39;
}

div.button:hover{
	background-color: #f0b048;
}

div.button:active{
	background-color: #ffc66b;
}

.site-cover {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
}

.pop-up {
	z-index: 15;
	display: inline-block;
	position: fixed;
	overflow: auto;
	top:50%;
	left: 50%;
	margin: -35vh 0 0 -25vw;
	padding: 15px;
	height: auto;
	max-height: 65%;
	width: 50vw;
	text-align: center;
	background-color: #f9c777;
	border:1px solid #000000;
	border-radius: 5px;
	box-shadow: 5px 5px 8px #000000;
}

.pop-up .content {
	/*position: relative;*/
	display: inline-block;
	width: 100%;
	/*padding: 15px;*/
}

.pop-up h1 {
	margin: 0 0 15px;
}

.pop-up h2 {
	margin: 0 0 10px;
}
.pop-up input{
	width: 50%;
	text-align: center;
}

.pop-up .town-list {
	height: 150px;
	overflow: auto;
	border:1px solid #000000;
}

.pop-up .town-list .town-list-item{
	cursor: pointer;
	padding: 5px;
	border: 1px solid #000000;
	background-color: #ca8b25;
}

.pop-up .town-list .town-list-item:hover{
	cursor: pointer;
	border: 1px solid #000000;
	background-color: #db9b34;
}

.pop-up .town-list .town-list-item.selected{
	background-color: #fee080;
}

.main{
	display: block;
	position: relative;
}

.opponent-area {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	/*background-color: #ca8b25;*/
	/*height: 150px;*/
	/*border-bottom: 1px solid #000000;*/
}

.opponent-area .opponent-display {
	display: inline-block;
	height: auto;
	width: 350px;
	background-color: #db9b34;
	border-bottom: 1px solid #000000;
	
}

.opponent-area .opponent-display .top-display {
	position: relative;
	height: 80%;
	border-bottom: 1px solid #000000;
}

.opponent-area .opponent-display .top-display img.computer-profile-picture {
	display: inline-block;
	/*max-height: 150px;*/
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.opponent-area .opponent-display .top-display .status-display {
	position: absolute;
	display: inline-block;
	height: 100%;
	padding: 5px;
}

.opponent-area .opponent-display .top-display .status-display .status-row{
	position: relative;
	width: 100%;
	height: 30px;
}

.opponent-area .opponent-display .top-display .status-display .status-row p{
	position: absolute;
	display: inline-block;
	line-height: 110%;
	left: 35px;
	bottom: 5px;
}

.opponent-area .opponent-display .card-section{
	border-top: 1px solid #000000;
	width: 100%;
	text-align: center;
}

.opponent-area .opponent-display .lower-display{
	text-align: center;
	height: auto;

}
.opponent-area .opponent-display .lower-display p {
	/*padding: 15% 0 0;*/
	padding: 5px;
}

.opponent-area #opponent-0.opponent-display {
	border-right: 1px solid #000000;
}

.opponent-area #opponent-0.opponent-display .top-display img{
	
}

.opponent-area #opponent-1.opponent-display {
	float: right;
	border-left: 1px solid #000000;
}

.event-card{
	z-index: 5;
	position: relative;
	margin: 0 auto;
	overflow: auto;
	height: 350px;
	width: 350px;
	text-align: center;
	border: 3px solid #8e6c12;
	border-radius: 10px;
	background-color: #f3c64c;
}

.event-card h2{
	border-bottom: 1px solid #000000;
}

.event-card p{
	display: inline-block;
	margin: 0 5px 0 0;
}

.card-row {
	padding: 0 0 5px;
	border-bottom: 1px solid #000000;
}

.player-section{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	/*border-radius: 10px 10px 0 0;*/
	border-top: 3px solid #000000;
	background-color: #AAAAAA;
}

.player-section .name-value{
	text-align: center;
	border-bottom: 1px solid #000000;
}

.player-section .status-display {
	display: inline-block;
	float: left;
	/*height: 100%;*/
	width: 70px;
	/*border-right: 1px solid #000000;*/
}

.player-section .status-display p {
	display: inline-block;
}

.player-section .player-card-section{
	display: inline-block;
}

.player-section .player-card-section .tool-card{
	display: inline-block;
	cursor: pointer;
	height: 200px;
	width: 190px;
	text-align: center;
	margin: 0 15px 0 0;
	border: 3px solid #8e6c12;
	border-radius: 10px;
	background-color: #f3c64c;
	overflow: auto;
}

.player-section .player-card-section .tool-card:hover{
	background-color: #f5d479;
}

.player-section .player-card-section .tool-card p{
	display: inline-block;
	font-size: 13px;

}

.player-section .player-card-section .tool-card h2{
	font-size: 20px;
	border-bottom: 1px solid #000000;
}

.player-section .player-card-section .tool-card h3{
	font-size: 17px;
}

.player-section .player-card-section .tool-card .stats-icon{
	height: 15px;
}

.player-section .button-section {
	float: right;
}

